<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Ticket Reservation System</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="navigation flexblock">
            <div class="home-link">
                <a href="/">SkyTravels ✈︎</a>
            </div>
            {% if login %}
                <div class="misc-link">
                    {% if account=="customer" %}
                        <a href="/home">Home</a>
                    {% elif account == "agent"%}
                        <a href="/homeAgent">Home</a>
                    {% elif account == "staff" %}
                        <a href="/analytics">Analytics</a>
                    {% else %}
                        <a href="/homeStaff">Home</a>
                        <a href="/analytics">Analytics</a>
                    {% endif %}
                    <a href="/logout">Logout</a>
                </div>
            {% else %}
            <div class="misc-link">
                <a href="/login">Login</a>
            </div>
            {% endif %}            
        </div>

        {% if login %}
            <h1>Welcome to SkyTravels, {{account}}.</h1>
        {% endif %}
        
        

        <div class="rounded-div">
            <h1>Your Trip Starts Here</h1>
            <form action="/results" method="POST" class="flexblock">
            <div>
                <label for="location">Location</label><br/>
                <select id="location" name="location" required>
                    <option disabled selected value>location</option>
                    <option value="city">city</option>
                    <option value="airport">airport</option>
                </select>
            </div>
            <div>
                <label for="origin">Place of Origin</label><br/>
                <input type="text" name = "origin" placeholder="origin" required/>
            </div>
            <div>
                <label for="destination">Place of Destination</label><br/>
                <input type="text" name = "destination" placeholder="destination" required/>
            </div>
            <div>
                <label for="date">Date of Flight</label><br/>
                <input type="date" name = "date" required/>
            </div>
            <div>
                <br/> 
                <input type="submit" value = Search />
            </div>
            {% if msg %}
                <p class="error"><strong></strong> {{msg}}</p>
            {% endif %}
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
            </form>
            Already booked your flight? <a href="/check">Check your flight status</a> 
        </div>
    </div>
</body>
</html>